@model MATA.Presentation.Web.Models.Attachments.AttachmentsIndexVM

<h4>
    Dosyalar (@Model.TotalCount)
    @if (User.IsInRole(RoleTypes.Admin) || User.IsInRole(RoleTypes.Staff))
    {
        <a href="@Url.Action("_Create", "Attachments", new { entityName = "Store", entityID = ViewBag.StoreID })" id="mt-link-attachments-create" class="pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    }
</h4>
<hr />

@if (Model.TotalCount == 0)
{
    @:Bu şantiyeye ait dosya bulunmamaktadır
}
else
{
    WebGrid grid = new WebGrid(
        rowsPerPage: Model.PageSize,
        ajaxUpdateContainerId: "attachment-grid",
        ajaxUpdateCallback: "attachmentsController.initGridEvents"
    );

    grid.Bind(Model.Attachments, autoSortAndPage: false, rowCount: Model.TotalCount);

    var columnList = new List<WebGridColumn>()
{
new WebGridColumn
{
Header = "Dosya Adı",
ColumnName = "FileName"
},
new WebGridColumn
{
Header = "Dosya Tipi",
ColumnName = "AttachmentType"
}
};

    if (User.IsInRole(RoleTypes.Admin))
    {
        this.AddAuditColumns(columnList);
    }

    columnList.Add(new WebGridColumn
    {
        Format = (item) => Html.ActionLink("İndir", "Download", "Attachments", new { id = item.ID }, null)
    });

    @grid.GetHtml(
        htmlAttributes: new { id = "attachment-grid" },
        tableStyle: "table table-hover",
        columns: columnList,
        mode: WebGridPagerModes.Numeric,
        numericLinksCount: 5
    )
}

<script src="~/ts/mata.attachments-controller.js"></script>