@model MATA.Presentation.Web.Models.Stores.StoresIndexVM

@{
    ViewBag.Title = "Şantiyeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Şantiyeler
</h2>

<p class="text-right">
    @Html.ActionLink("Yeni Oluştur", "_Create", null, new { id = "mt-link-stores-create", @class = "btn btn-default" })
</p>

<div class="panel panel-default">
    <div class="panel-body">


        @{
            WebGrid grid = new WebGrid(
                rowsPerPage: Model.PageSize,
                ajaxUpdateContainerId: "store-grid",
                ajaxUpdateCallback: "storesController.initGridEvents"
            );

            grid.Bind(Model.Stores, autoSortAndPage: false, rowCount: Model.TotalCount);

            var columnList = new List<WebGridColumn>()
            {
                new WebGridColumn
                {
                    Header = "Şantiye Adı",
                    ColumnName = "StoreName",
                    CanSort = false
                },
                new WebGridColumn
                {
                    Header = "Proje",
                    ColumnName = "ProjectName",
                    CanSort = false
                },
                new WebGridColumn
                {
                    Header = "Ülke",
                    ColumnName = "CountryName",
                    CanSort = false
                },
                new WebGridColumn
                {
                    Header = "Şehir",
                    ColumnName = "CityName",
                    CanSort = false
                },
                new WebGridColumn
                {
                    Header = "Adres",
                    ColumnName = "Address",
                    CanSort = false
                }
            };

            if (User.IsInRole(RoleTypes.Admin))
            {
                this.AddAuditColumns(columnList);
            }

            if(User.IsInRole(RoleTypes.Admin) || User.IsInRole(RoleTypes.Staff))
            {
                columnList.Add(new WebGridColumn
                {
                    Format = (item) => Html.ActionLink("Detay", "Details", new { id = item.ID })
                });

                columnList.Add(new WebGridColumn
                {
                    Format = (item) => Html.ActionLink("Güncelle", "_Edit", new { id = item.ID }, new { @class = "mt-link-stores-edit", data_entity_id = item.ID })
                });
            }
        }

        @grid.GetHtml(
            htmlAttributes: new { id = "store-grid" },
            tableStyle: "table table-hover",
            columns: columnList,
            mode: WebGridPagerModes.Numeric,
            numericLinksCount: 5
        )

    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/ts/mata.stores-controller.js"></script>
}
