@model MATA.Presentation.Web.Models.Projects.ProjectsIndexVM

@{
    ViewBag.Title = "Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Projeler (@Model.TotalCount)
</h2>

<p class="text-right">
    @Html.ActionLink("Yeni Oluştur", "_Create", null, new { id = "mt-link-projects-create", @class = "btn btn-default" })
</p>

<div class="panel panel-default">
    <div class="panel-body">


        @{
            WebGrid grid = new WebGrid(
                rowsPerPage: Model.PageSize,
                ajaxUpdateContainerId: "project-grid",
                ajaxUpdateCallback: "projectsController.initGridEvents"
            );

            grid.Bind(Model.Projects, autoSortAndPage: false, rowCount: Model.TotalCount);

            var columnList = new List<WebGridColumn>()
            {
                new WebGridColumn
                {
                    Header = "Proje Adı",
                    ColumnName = "ProjectName",
                    CanSort = false,
                    //Style = "width: 300px"
                },
                new WebGridColumn
                {
                    Header = "Açıklamalar",
                    ColumnName = "Remarks",
                    CanSort = false
                }
            };

            if (User.IsInRole(RoleTypes.Admin))
            {
                this.AddAuditColumns(columnList);
            }

            if(User.IsInRole(RoleTypes.Admin) || User.IsInRole(RoleTypes.Staff))
            {
                columnList.Add(new WebGridColumn
                {
                    //Style = "auto-width",
                    Format = (item) => Html.ActionLink("Detay", "Details", new { id = item.ID })
                });

                columnList.Add(new WebGridColumn
                {
                    //Style = "auto-width",
                    Format = (item) => Html.ActionLink("Güncelle", "_Edit", new { id = item.ID }, new { @class = "mt-link-projects-edit", data_entity_id = item.ID })
                });
            }
        }

        @grid.GetHtml(
            htmlAttributes: new { id = "project-grid" },
            tableStyle: "table table-hover",
            columns: columnList,
            mode: WebGridPagerModes.Numeric,
            numericLinksCount: 5
        )

    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/ts/mata.projects-controller.js"></script>
}
