@model MATA.Presentation.Web.Models.Countries.CountriesIndexVM

@{
    ViewBag.Title = "Ülkeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Ülkeler (@Model.TotalCount)
</h2>

<p class="text-right">
    @Html.ActionLink("Yeni Oluştur", "_Create", null, new { id = "mt-link-countries-create", @class = "btn btn-default" })
</p>

<div class="panel panel-default">
    <div class="panel-body">

        @{
            WebGrid grid = new WebGrid(
                rowsPerPage: Model.PageSize,
                ajaxUpdateContainerId: "country-grid",
                ajaxUpdateCallback: "countriesController.initGridEvents"
            );

            grid.Bind(Model.Countries, autoSortAndPage: false, rowCount: Model.TotalCount);
        }

        @grid.GetHtml(
            htmlAttributes: new { id = "country-grid" },
            tableStyle: "table table-hover",
            columns: new List<WebGridColumn>()
            {
                new WebGridColumn
                {
                    Header = "Ülke Adı",
                    ColumnName = "CountryName",
                    CanSort = false,
                    //Style = "width: 300px"
                },
                new WebGridColumn
                {
                    //Style = "auto-width",
                    Format = (item) => Html.ActionLink("Detay", "Details", new { id = item.ID })
                },
                new WebGridColumn
                {
                    //Style = "auto-width",
                    Format = (item) => Html.ActionLink("Güncelle", "_Edit", new { id = item.ID }, new { @class = "mt-link-countries-edit", data_entity_id = item.ID })
                }
            },
            mode: WebGridPagerModes.Numeric,
            numericLinksCount: 5
        )

    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/ts/mata.countries-controller.js"></script>
}
