@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cache</h2>

<ul class="list-group">
    @foreach (var cacheKey in Model)
    {
        <li class="list-group-item">
            @cacheKey
            @Html.ActionLink("Reset", "Reset", new { cacheKey = cacheKey }, new { @class = "pull-right" })
        </li>
    }
</ul>

