@model MATA.Presentation.Web.Models.Accounts.AccountsIndexVM

<h4>
    @Html.Localize("Accounts") (@Model.TotalCount)
</h4>
<hr />

@if (Model.TotalCount == 0)
{
    @Html.Localize("NoAccountsForThisStore")
}
else
{
    WebGrid grid = new WebGrid(
        rowsPerPage: Model.PageSize,
        ajaxUpdateContainerId: "account-grid",
        ajaxUpdateCallback: "accountsController.initGridEvents"
    );

    grid.Bind(Model.Accounts, autoSortAndPage: false, rowCount: Model.TotalCount);

    @grid.GetHtml(
        htmlAttributes: new { id = "account-grid" },
        tableStyle: "table table-hover",
        columns: new List<WebGridColumn>()
        {
            WebGridHelper.LocalizedTextColumn("FullName"),
            WebGridHelper.LocalizedTextColumn("Email")
        },
        mode: WebGridPagerModes.Numeric,
        numericLinksCount: 5
    )
}

<script src="~/ts/mata.accounts-controller.js"></script>
