@model MATA.Presentation.Web.Models.Accounts.AccountsIndexVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hesaplar (@Model.TotalCount)</h2>

<p class="text-right">
    @Html.ActionLink("Yeni Oluştur", "_Create", null, new { id = "mt-link-accounts-create", @class = "btn btn-default" })
</p>

<div class="panel panel-default">

    <div class="panel-body" style="overflow-x:auto;">

        @{
            WebGrid grid = new WebGrid(
                rowsPerPage: Model.PageSize,
                ajaxUpdateContainerId: "account-grid",
                ajaxUpdateCallback: "accountsController.initGridEvents"
            );

            grid.Bind(Model.Accounts, autoSortAndPage: false, rowCount: Model.TotalCount);
        }

        @grid.GetHtml(
            htmlAttributes: new { id = "account-grid" },
            tableStyle: "table table-hover",
            columns: new List<WebGridColumn>()
            {
                new WebGridColumn
                {
                    Header = "Ad Soyad",
                    ColumnName = "FullName",
                    CanSort = false
                },
                new WebGridColumn
                {
                    Header = "E-mail",
                    ColumnName = "Email",
                    CanSort = false
                },
                new WebGridColumn
                {
                    Header = "Rol",
                    ColumnName = "RoleName",
                    CanSort = false
                },
                new WebGridColumn
                {
                    Header = "Aktif",
                    ColumnName = "IsActive",
                    CanSort = false
                },
                new WebGridColumn
                {
                    Format = (item) => Html.ActionLink("Detay", "Details", new { id = item.ID })
                },
                new WebGridColumn
                {
                    Format = (item) => Html.ActionLink("Güncelle", "_Edit", new { id = item.ID }, new { @class = "mt-link-accounts-edit", data_entity_id = item.ID })
                }
            },
            mode: WebGridPagerModes.Numeric,
            numericLinksCount: 5
        )

    </div>

</div>

@section styles {

    <style type="text/css">

        #account-grid {
        }

        /*#account-grid thead tr th:nth-child(5),
        #account-grid thead tr th:nth-child(6),*/
        #account-grid tbody tr td:nth-child(3),
        #account-grid tbody tr td:nth-child(4),
        #account-grid tbody tr td:nth-child(5),
        #account-grid tbody tr td:nth-child(6) {
            width: 0.1%;
        }

        /*#account-grid tfoot tr td {
            float:right;
        }*/

    </style>

}

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/ts/mata.accounts-controller.js"></script>
}
