<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html" http-equiv="content-type" />
    <title>MATA</title>
    <style type="text/css">
        .body-content {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: royalblue;
            color: whitesmoke;
        }
    </style>
</head>
<body class="body-content">
    <header style="text-align:center;">#HEADER#</header>
    <h1>Hello World!</h1>
    <h2>I am Pluto</h2>
    <footer style="text-align:center">MATA Mimarlik</footer>
</body>
</html>