@model MATA.Presentation.Web.Models.Cities.CitiesIndexVM

<h4>
    @Html.Localize("Cities") (@Model.TotalCount)
    @if (User.IsInRole(RoleTypes.Admin))
    {
        <a href="@Url.Action("_Create", "Cities", new { CountryID = ViewBag.CountryID, CountryName = ViewBag.CountryName })" id="mt-link-cities-create" class="pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    }
</h4>
<hr />

@if (Model.TotalCount == 0)
{
    @:Bu ülkeye ait şehir bulunmamaktadır
}
else
{
    WebGrid citiesGrid = new WebGrid(
        rowsPerPage: Model.PageSize,
        ajaxUpdateContainerId: "city-grid",
        ajaxUpdateCallback: "citiesController.initGridEvents"
    );

    citiesGrid.Bind(Model.Cities, autoSortAndPage: false, rowCount: Model.TotalCount);

    var columnList = new List<WebGridColumn>()
    {
        Html.LocalizedDetailsActionLinkColumn("CityName", "ID", "Cities")
    };

    if (User.IsInRole(RoleTypes.Admin))
    {
        columnList.Add(new WebGridColumn
        {
            Format = (item) => Html.ActionLink("Detay", "Details", new { id = item.ID })
        });

        columnList.Add(new WebGridColumn
        {
            Format = (item) => Html.ActionLink("Güncelle", "_Edit", new { id = item.ID }, new { @class = "mt-link-cities-edit", data_entity_id = item.ID })
        });
    }

    @citiesGrid.GetHtml(
        htmlAttributes: new { id = "city-grid" },
        tableStyle: "table table-hover",
        columns: columnList,
        mode: WebGridPagerModes.Numeric,
        numericLinksCount: 5
    )
}

<script src="~/ts/mata.cities-controller.js"></script>
