@model MATA.Presentation.Web.Models.Cities.CitiesIndexVM

@{
    ViewBag.Title = $"{Html.Localize("Cities")} ({Model.TotalCount})";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @ViewBag.Title
</h2>

<p class="text-right">
    @Html.LocalizedActionLink("Create", "_Create", null, new { id = "mt-link-cities-create", @class = "btn btn-default" })
</p>

<div class="panel panel-default">

    <div class="panel-body">

        @{
            WebGrid grid = new WebGrid(
                rowsPerPage: Model.PageSize,
                ajaxUpdateContainerId: "city-grid",
                ajaxUpdateCallback: "citiesController.initGridEvents"
            );

            grid.Bind(Model.Cities, autoSortAndPage: false, rowCount: Model.TotalCount);

            var columnList = new List<WebGridColumn>()
            {
                new WebGridColumn
                {
                    Header = Html.Localize("Country"),
                    Format = (item) => Html.ActionLink((string)item.CountryName, "Details", "Countries", new { id = item.CountryID }, null)
                },
                new WebGridColumn
                {
                    Header = Html.Localize("CityName"),
                    ColumnName = "CityName",
                    CanSort = false
                }
            };

            if (User.IsInRole(RoleTypes.Admin))
            {
                columnList.Add(new WebGridColumn
                {
                    Format = (item) => Html.LocalizedActionLink("Details", "Details", new { id = item.ID })
                });

                columnList.Add(new WebGridColumn
                {
                    Format = (item) => Html.LocalizedActionLink("Update", "_Edit", new { id = item.ID }, new { @class = "mt-link-cities-edit", data_entity_id = item.ID })
                });
            }
        }

        @grid.GetHtml(
            htmlAttributes: new { id = "city-grid" },
            tableStyle: "table table-hover",
            columns: columnList,
            mode: WebGridPagerModes.Numeric,
            numericLinksCount: 5
        )

    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/ts/mata.cities-controller.js"></script>

}
